<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>></title>
</head>
  <body>
   
    <form method="POST" action="/new">
       
        <input type="text" placeholder="authors" />
        <input type="message" placeholder="message" />
        <button type="submit">Submit</button>

     </form>
  </body>
</html>